In [14]:
'''Assignment: 

Basic Libraries needed 1. Pandas 2. Numpy'''

'Assignment: \n\nBasic Libraries needed 1. Pandas 2. Numpy'

In [15]:
import pandas as pd
import numpy as np

In [16]:
employee_data=pd.read_csv('/content/drive/MyDrive/go digital/employee_data.csv')

In [17]:
insurance_data=pd.read_csv('/content/drive/MyDrive/go digital/insurance_data.csv')

In [18]:
vendor_data=pd.read_csv('/content/drive/MyDrive/go digital/vendor_data.csv')

In [19]:
employee_data.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [20]:
insurance_data.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [21]:
vendor_data.head()

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210

TASK 1

In [33]:
df1=pd.merge(insurance_data,employee_data,on="AGENT_ID",how="left")

In [34]:
df1.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,VNDR00592,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,VNDR00031,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,VNDR00075,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,VNDR00472,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547

In [36]:
df2=pd.merge(df1,vendor_data,on="VENDOR_ID",how="left")

In [37]:
df2.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1_x',
       'ADDRESS_LINE2_x', 'CITY_x', 'STATE_x', 'POSTAL_CODE_x', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME', 'DATE_OF_JOINING',
       'ADDRESS_LINE1_y', 'ADDRESS_LINE2_y', 'CITY_y', 'STATE_y',
       'POSTAL_CODE_y', 'EMP_ROUTING_NUMBER', 'EMP_ACCT_NUMBER', 'VENDOR_NAME',
       'ADDRESS_LINE1', 'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE'],
      dtype='object')

In [26]:
df2.sample(10)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
7135,2021-03-09 00:00:00,TXN00007136,A00001036,PLC00009598,2019-05-04,2021-03-08,2021-03-08,Motor,108.89,2000,...,KY,40245,14951860,EAYK96313131410012,Smith-Booth,1123 Ardee Avenue,NaN,Nashville,TN,37216.0
6497,2021-02-12 00:00:00,TXN00006498,A00002475,PLC00005793,2017-07-24,2021-02-10,2021-02-10,Life,73.37,36000,...,OK,73103,104880126,BOBK32919513096302,"Rivera, Johnson and Drake",243 New State Road,A-D,Manchester,CT,6042.0
5024,2020-12-19 00:00:00,TXN00005025,A00002517,PLC00003456,2012-06-29,2020-12-12,2020-12-14,Health,117.19,20000,...,MA,1801,72385261,XLYF11319880288339,Hudson PLC,302 Black Sky Lane,NaN,Pasadena,MD,21122.0
4002,2020-11-09 00:00:00,TXN00004003,A00001241,PLC00002616,2010-12-18,2020-10-27,2020-11-01,Life,52.86,72000,...,AZ,85302,73241650,MKKM02244049362842,NaN,NaN,NaN,NaN,NaN,NaN
4358,2020-11-23 00:00:00,TXN00004359,A00005350,PLC00001882,2019-04-21,2020-11-22,2020-11-22,Mobile,8.52,600,...,CA,93442,92441813,VIGK15164101502073,Fernandez Inc,3823 Shannon Run Trail,NaN,Louisville,KY,40299.0
2862,2020-09-24 00:00:00,TXN00002863,A00009792,PLC00002414,2019-09-17,2020-09-17,2020-09-19,Property,98.85,35000,...,CA,94705,24848170,EXSJ20983551845112,Cardenas-Mcknight,7420 Bearfoot Circle,#APT 000003,Anchorage,AK,99502.0
567,2020-06-22 00:00:00,TXN00000568,A00002301,PLC00007142,2017-03-09,2020-06-09,2020-06-14,Motor,73.93,5000,...,AZ,85308,96484119,VOJR74904013203854,NaN,NaN,NaN,NaN,NaN,NaN
6854,2021-02-25 00:00:00,TXN00006855,A00007552,PLC00001546,2012-01-06,2021-02-17,2021-02-20,Life,95.56,51000,...,GA,31419,116785471,TUWA05740803604845,NaN,NaN,NaN,NaN,NaN,NaN
9975,2021-06-30 00:00:00,TXN00009976,A00002659,PLC00005667,2019-10-15,2021-06-24,2021-06-26,Motor,134.69,4000,...,AR,72730,104508408,GTAT20473263158624,NaN,NaN,NaN,NaN,NaN,NaN
9348,2021-06-05 00:00:00,TXN00009349,A00006152,PLC00005840,2012-04-04,2021-05-31,2021-06-01,Life,71.69,61000,...,DC,20010,60404659,ECBE23418262797433,Foster-Perry,4300 Woodley Square,NaN,Montgomery,AL,36116.0

TASK 2: 
Business Leader wants to find Top 3 Insurance Type where we are getting
most insurance claims?

In [27]:
insurance_data["INSURANCE_TYPE"].value_counts().nlargest(3)

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

TASK 3: 
Business Leader wants to find Top 5 States where we are getting most insurance claims
for customer belonging to HIGH(H) risk segment?

In [28]:
insurance_data[insurance_data["RISK_SEGMENTATION"]=="H"].STATE.value_counts().nlargest(5)

CA    148
AZ    105
FL    104
TN    100
AR     97
Name: STATE, dtype: int64

TASK 4:
Business wants to create a new variable “COLOCATION” which will have following values IF
Customer State == Incident State == Agent Address State THEN 1 ELSE 0
Find the mean of this new colum

In [86]:
df2["COLOCATION"]=(df2["STATE"]==df2["INCIDENT_STATE"])&(df2["INCIDENT_STATE"]==df2["STATE"])

In [87]:
df2["COLOCATION"]=df2.COLOCATION.astype("int")

In [90]:
df2["COLOCATION"].mean()# finding mean

0.0449

Task 5: Data entry error was detected in the data and you are required to correct it. If for any
claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1
Then Update “AUTHORITY_CONTACTED” to Police.

In [40]:
df2["AUTHORITY_CONTACTED"].unique()

array(['Police', 'Ambulance', 'None', 'Other'], dtype=object)

In [44]:
df2["AUTHORITY_CONTACTED"].value_counts()

Ambulance    4082
Police       2982
None         1945
Other         991
Name: AUTHORITY_CONTACTED, dtype: int64

In [46]:
X=df2[df2["AUTHORITY_CONTACTED"]!="Police"]

In [48]:
X.head(1)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0

In [50]:
X_updated=X[X["POLICE_REPORT_AVAILABLE"]==1].index
X.loc[update,"AUTHORITY_CONTACTED"]="Police"

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [52]:
df2.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0

Task 6: Business wants to check the Claim Amount for deviation for each transaction, they would
like you to calculate as follow
CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)
/ CURRENT_CLAIM_AMOUNT
If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0
If there is less than 30 days of transaction history THEN
-1 Note: LAST_30DAYS does not include current day

In [56]:
df2_date=pd.to_datetime(df2["TXN_DATE_TIME"].max())# present_date

In [55]:
df2_date

Timestamp('2021-06-30 00:00:00')

In [57]:
df2["TXN_DATE_TIME"]=pd.to_datetime(df2["TXN_DATE_TIME"])

In [61]:
df2_date_30=df2.loc[(df2['TXN_DATE_TIME'] > '2021-05-30') & (df2['TXN_DATE_TIME'] < df2_date)] #past 30 days data

In [62]:
avg_claim = df2_date_30.groupby('INSURANCE_TYPE').mean()['CLAIM_AMOUNT'].to_dict()

In [63]:
avg_claim

{'Health': 10904.411764705883,
 'Life': 52242.857142857145,
 'Mobile': 378.35820895522386,
 'Motor': 5573.770491803279,
 'Property': 24627.906976744187,
 'Travel': 2800.0}

Task 7:
Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by
Total Claim Amount Approved under them in descending order

In [68]:
df2_agent_type= df2.groupby('AGENT_ID')['INSURANCE_TYPE'].nunique()
df2_insurance_types= df2_agent_type >2

In [69]:
df2_insurance_types=df2_insurance_types[df2_insurance_types].index
df2_insurance_types

Index(['AGENT00001', 'AGENT00003', 'AGENT00004', 'AGENT00005', 'AGENT00006',
       'AGENT00007', 'AGENT00008', 'AGENT00009', 'AGENT00010', 'AGENT00011',
       ...
       'AGENT01191', 'AGENT01192', 'AGENT01193', 'AGENT01194', 'AGENT01195',
       'AGENT01196', 'AGENT01197', 'AGENT01198', 'AGENT01199', 'AGENT01200'],
      dtype='object', name='AGENT_ID', length=1164)

Task 8:
Mobile & Travel Insurance premium are discounted by 10%
Health and Property Insurance premium are increased by 7%
Life and Motor Insurance premium are marginally increased by 2%
What will be overall change in % of the Premium Amount Collected for all these Customer?

In [70]:
df2_premier = df2.groupby('INSURANCE_TYPE').sum()['PREMIUM_AMOUNT'].to_dict()
df2_premier

{'Health': 252455.73,
 'Life': 125621.22,
 'Mobile': 15191.42,
 'Motor': 165391.98,
 'Property': 202285.83,
 'Travel': 124139.77}

In [73]:
# Mobile & Travel discounted= 10%
df2_premier['Mobile']*=0.9
df2_premier['Travel']*=0.9
# Health and Property increases = 7%
df2_premier['Health']*=1.07
df2_premier['Property']*=1.07
# Life and Motor increased= 2%
df2_premier['Life']*=1.02
df2_premier['Motor']*=1.02

In [77]:
new_premier = sum(df2_premier.values())
old_premier = df2['PREMIUM_AMOUNT'].sum()
(new_premier-old_premier)*100/old_premier

2.5253848397435457

In [78]:
print(old_premier,new_premier)

885085.95 907437.7764000001

Task 11:
Find all low performing agents i.e. employees who are in the bottom 5 percentile based
on Claims worked by them.

In [80]:
df2_low_performing = df2.groupby('AGENT_ID').sum().quantile(0.05)['CLAIM_AMOUNT']

In [81]:
low_performing_grouped = df2.groupby('AGENT_ID').sum()

In [84]:
low_performing =low_performing_grouped[low_performing_grouped['CLAIM_AMOUNT']<=df2_low_performing][['CLAIM_AMOUNT']]
low_performing

            CLAIM_AMOUNT
AGENT_ID
AGENT00006         22400
AGENT00014          7400
AGENT00016         27000
AGENT00085         25700
AGENT00088         27700
AGENT00091         30000
AGENT00098         28200
AGENT00134         22000
AGENT00149         28900
AGENT00156         13200
AGENT00172         22200
AGENT00185         16100
AGENT00186         27700
AGENT00188         28400
AGENT00197         18500
AGENT00252         20000
AGENT00263         11500
AGENT00275         16200
AGENT00279         28000
AGENT00300         12600
AGENT00310         28800
AGENT00316         22200
AGENT00351         21700
AGENT00425         17800
AGENT00442         30300
AGENT00536         20000
AGENT00562         21100
AGENT00571         24200
AGENT00585         16600
AGENT00590         22200
AGENT00604          5500
AGENT00621          5300
AGENT00628          6100
AGENT00672         21300
AGENT00689         13700
AGENT00706         10800
AGENT00721          9000
AGENT00732         11300
AGENT00773         15000
AGENT00780         11300
AGENT00790          6000
AGENT00804         20000
AGENT00805         22600
AGENT00830         23500
AGENT00841         17800
AGENT00856         24200
AGENT00894         27600
AGENT00910         15500
AGENT00969         28300
AGENT00985         30000
AGENT01021         24300
AGENT01037          5600
AGENT01052         28000
AGENT01077          4200
AGENT01107         24700
AGENT01128         28000
AGENT01131         27500
AGENT01151         28000
AGENT01154           800
AGENT01179         27300